body {
    height: 100%;
    margin: 0px;
    background-image: url('pic/istockphoto-1339908748-612x612.jpg');
}


#score-board {
    text-align: center;
    justify-content: center;
    width: 30%;
    background-color: #0e5f78da;
    border-radius: 12px;
    color: aliceblue;
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 20px auto; 
    box-shadow: 8px 8px 8px #aaa;
    display: none;
}
#score-board .True, .False, .Point, .Remain {
    position: absolute;
}

#question-box {
    width: 70%;
    text-align: center;
    justify-content: center;
    margin: auto;
    height: 400px;
    margin-top: 50px;
    background-color: #0e5f78da;
    border-radius: 12px;
    box-shadow: 8px 8px 8px #aaa;
    display: none;
}
#question {
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100px;
    padding-top: 75px;
    color: aliceblue;
}

#question-box .options {
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-top: 50px;

}

#question-box button {
    text-align: center;
    width: 80%;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 40px;
    border-radius: 12px;
}

button:hover {
    background-color: #4B0082;
    color: aliceblue;
}



 body #start-button {
    width: 20%;
    height: 100px;
    background-color: aliceblue;
    border-radius: 12px;
    color: black;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    box-shadow: 8px 8px 8px #aaa;
    position: absolute;
    top: 50%;
    left: 40%;
}

#start-button:hover {
    background-color: #4B0082;
    color: aliceblue;
}


#exit {
    width: 10%;
    height: 90px;
    background-color: aliceblue;
    border-radius: 12px;
    color: black;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    box-shadow: 8px 2px 8px #aaa;
    position: absolute;
    bottom: 75%;
    left: 75%;
    display: none;


}


#exit:hover {
    background-color: #4B0082;
    color: aliceblue;
}


#game-description {
    text-align: center;
    justify-content: center;
    width: 30%;
    background-color: #0e5f78da;
    border-radius: 12px;
    color: aliceblue;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 80px auto; 
    box-shadow: 8px 8px 8px #aaa;
}