body {
    height: 100%;
    margin: 0px;
    background: rgb(95,91,153);
    background: linear-gradient(90deg, rgba(95,91,153,1) 0%, rgba(20,34,85,0.6979385504201681) 40%, rgba(83,25,90,0.894016981792717) 71%, rgba(54,20,85,0.821187850140056) 95%);
    min-width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}


#score-board {
    height: 150px;
    width: 90%;
    max-width: 600px;
    background-color: #0e5f78da;
    border-radius: 12px;
    color: aliceblue;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 40px auto; 
    box-shadow: 8px 8px 8px #aaa;
    display: flex;
}

#question-box {
    width: 80%;
    text-align: center;
    justify-content: center;
    margin: auto;
    height: 400px;
    margin-top: 50px;
    background-color: #0e5f78da;
    border-radius: 12px;
    box-shadow: 8px 8px 8px #aaa;
    display: none;
}
#question {
    text-align: center;
    justify-content: center;
    font-size: 30px;
    height: 100px;
    padding-top: 75px;
    color: aliceblue;
}

#question-box .options {
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-top: 50px;

}

#question-box button {
    text-align: center;
    width: 80%;
    font-size: larger;
    height: 40px;
    border-radius: 12px;
}

button:hover {
    background-color: #4B0082;
    color: aliceblue;
    transition: 0.3s;
}



 #start-button {
    width: 20%;
    height: 50px;
    font-size: larger;
    box-shadow: 8px 8px 8px #aaa;
    border-radius: 12px;
    margin-top: 30px;
    margin-left: 40%;
}

#start-button:hover {
    background-color: #4B0082;
    color: aliceblue;
    transition: 0.5s;
}

#exit {
    margin: auto;
    width: 20%;
    height: 50px;
    margin-top: 30px;
    font-size: larger;
    box-shadow: 8px 8px 8px #aaa;
    border-radius: 12px;
    display: none;
}


#exit:hover {
    background-color: #4B0082;
    color: aliceblue;
    transition: 0.2s;
}


#game-description {
    text-align: center;
    justify-content: center;
    width: 50%;
    background-color: #0e5f78da;
    border-radius: 12px;
    color: aliceblue;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: auto; 
    margin-top: 100px;
    box-shadow: 8px 8px 8px #aaa;
}


#ok {
    margin: auto;
    width: 20%;
    height: 50px;
    margin-top: 30px;
    font-size: larger;
    box-shadow: 8px 8px 8px #aaa;
    border-radius: 12px;
    display: none;
}

#ok:hover {
    background-color: #4B0082;
    color: aliceblue;
    transition: 0.2s;
}


#finish-game {
    text-align: center;
    justify-content: center;
    width: 45%;
    background-color: #0e5f78da;
    border-radius: 12px;
    color: aliceblue;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: auto; 
    margin-top: 100px;
    box-shadow: 8px 8px 8px #aaa;
    display: none;
}


.swal2-popup {
    background-color: #0e5f78da;
    color: aliceblue;
    box-shadow: 8px 8px 8px #aaa;
    width: 50%;
}

.timerr {
    width: 35%;
}

#Time-remain {
    text-align: center;
    font-size: 60px;
    color: red;
}
.Time-click {
    text-align: center;
    font-size: 50px;
}

.numberss {
    width: 65%;
    font-size: 30px;
}

#Number-of-true, #Number-of-false, #Number-of-points, #Remained-questions {
    text-align: end;
}

.True, .False, .Point, .Remain {
    text-align: left;
    position: absolute;
}

@media only screen and (max-width: 500px) {
    #score-board {
        height: 20%;
    }
    #Remained-questions {
        margin-top: 32px;
    }
    #game-description {
        width: 90%;
    }
    #start-button {
        width: 25%;
    }
    #exit {
        width: 60%;
    }
    #ok {
        width: 40%;
    } 
}